.Card {
  border: 3px solid;
  color: black;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;  
  min-width: 300px;
  max-width: 300px;
}

.Card .Titulo {
  padding: 5px 0px;
  display: flex;
  justify-content: center;
}

.Card .Conteudo {
  flex-grow: 1;
  background-color: white;
  padding: 10px;
}